.bruno{
    background-color: red;
}

.mateus{
    background-color: blueviolet;
}

<<<<<<< HEAD
.raissa {
    background-color: rgb(241, 72, 129);
=======
.isak{
    background-color: aqua;
    color: black;
    padding: 10px;
>>>>>>> 90e1599ab9428efd88eb74069680a535469dd342
}