.bruno{
    background-color: red;
}

.mateus{
    background-color: blueviolet;
}

.raissa {
    background-color: rgb(241, 72, 129);
}

.isak{
    background-color: aqua;
    color: black;
    padding: 10px;

}
.jorge {
    background-color: brown;
}